<div class="">
    <div class="row">
        <div class="col-md-7 ">
            <div class="btn-group" data-toggle="buttons" style="margin-top:3%;margin-bottom: 3%;margin-left: -14px;">
                <label class="btn btn-primary active">
                    <a href="#/adminIndex" class="LittleNav">查看待处理</a>
                </label>
                <label class="btn btn-primary ">
                    <a href="#/adminHistory" class="LittleNav">查看历史申请</a>
                </label>
            </div>
        </div>
    </div>
    <style>
        table tr td p{
            margin-top:7px;
        }
        .fontBlue{
            color:blue;
        }
        .fontRed{
            color:red;
        }
        .fontGreen{
            color:limegreen;
        }
    </style>
        <table st-table="displayedCollection" st-safe-src="handlingProjectList" class="table table-striped">
            <thead>
            <tr>
                <th colspan="4">
                    <input st-search placeholder="全局搜索" class="input-sm form-control" type="search"/>
                </th>
                <th colspan="2">
                    根据状态搜索：
                    <select st-search="status">
                        <option value="">不限</option>
                        <option value="待审核">待审核</option>
                        <option value="待立项">待立项</option>
                    </select>
                </th>
            </tr>
            <tr>
                <th>序号</th>
                <th st-sort="projectId">项目编号</th>
                <th st-sort="projectName">项目名称</th>
                <th st-sort="purchaseType">采购类型</th>
                <th st-sort="totalMoney_pre">总计金额</th>
                <th st-sort="updateTime">上次提交日期</th>
                <th st-sort="status">当前状态</th>
                <th>操作</th>

            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="row in displayedCollection">
                <td>{{$index+1}}</td>
                <td>{{row.projectId}}</td>
                <td>{{row.projectName}}</td>
                <td>{{row.purchaseType}}</td>
                <td>{{row.totalMoney_pre}}</td>
                <td>{{row.updateTime|limitTo:10}}</td>
                <td ng-switch="row.status">
                    <p ng-switch-when="待审核" class="fontBlue">{{row.status}}</p>
                    <p ng-switch-when="待立项" class="fontGreen">{{row.status}}</p>
                </td>
                <td ng-switch="row.status">
                    <button ng-switch-when="待立项" class="btn btn-success" type="button" ng-click="setUp(row.projectId)">查看</button>
                    <button ng-switch-when="待审核" class="btn btn-primary" type="button" ng-click="verify(row.projectId)">查看</button>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="9" class="text-center">
                    <div st-pagination="" st-items-by-page="8" st-displayed-pages="5"></div>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
