<div class="">
    <div class="row">
        <div class="col-md-8 col-md-offset-1">
            <div class="btn-group" data-toggle="buttons" style="margin-top:3%;margin-bottom: 3%;margin-left:2%;">
                <label class="btn btn-primary">
                    <a href="#/adminIndex" class="LittleNav">查看待处理</a>
                </label>
                <label class="btn btn-primary active">
                    <a href="#/adminHistory" class="LittleNav">查看历史申请</a>
                </label>
            </div>
        </div>
    </div>
    <form class="form-inline row" style="margin-bottom: 1%">
        <div class="form-group col-md-3 col-md-offset-2">
            <label for="projectId">项目编号</label>
            <input type="text" class="form-control" name="name" ng-model="pidSearch" id="projectId" placeholder="">
        </div>
        <div class="form-group" style="margin-left: 2%">
            <label>当前状态</label>
            <select name="status" class="form-control" ng-model="statusSearch">
                <option value="">不限</option>
                <option value="被驳历史">被驳历史</option>
                <option value="已立项">已立项</option>
                <option value="待采购">待采购</option>
                <option value="采购完成">采购完成</option>
            </select>
        </div>
        <div class="form-group" style="margin-left: 3%">
            <label>采购类型</label>
            <select name="type" class="form-control" ng-model="typeSearch">
                <option value="">不限</option>
                <option value="C-工程">C-工程</option>
                <option value="S-服务">S-服务</option>
                <option value="国产">国产</option>
                <option value="进口">进口</option>
            </select>
        </div>
        <button class="btn btn-success" ng-click="search(1)" style="margin-left: 2%">查询</button>
    </form>
    <style>
        table tr td p{
            margin-top:7px;
        }
        .fontBlue{
            color:blue;
        }
        .fontRed{
            color:red;
        }
        .fontGreen{
            color:limegreen;
        }
    </style>
    <div class="form-group" style="text-align: center;">
        <div class="table-responsive col-md-10 col-md-offset-1">
            <table class="table table-striped table-hover teacherTable ">
                <tr class="" style="text-align: center;vertical-align: middle;">
                    <td>序号</td>
                    <td>项目编号</td>
                    <td>项目名称</td>
                    <td>采购类型</td>
                    <td>总计金额（万元）</td>
                    <td>上次提交日期</td>
                    <td>当前状态</td>
                    <td>操作</td>
                </tr>
                <tr ng-repeat="project in handlingProjectList">
                    <td>
                        <p>{{$index+1}}</p>
                    </td>
                    <td>
                        <p>{{project.projectId}}</p>
                    </td>
                    <td>
                        <p>{{project.projectName}}</p>
                    </td>
                    <td>
                        <p>{{project.purchaseType}}</p>
                    </td>
                    <td>
                        <p>{{project.totalMoney_pre}}</p>
                    </td>
                    <td>
                        <p>{{project.updateTime | limitTo:10}}</p>
                    </td>
                    <td ng-switch="project.status">
                        <p ng-switch-when="已立项" class="fontBlue">{{project.status}}</p>
                        <p ng-switch-when="待采购" class="fontBlue">{{project.status}}</p>
                        <p ng-switch-when="采购完成" class="fontGreen">{{project.status}}</p>
                        <p ng-switch-when="被驳历史" class="fontRed">{{project.status}}</p>

                    </td>
                    <td>
                        <button class="btn btn-primary" type="button" ng-click="view(project.projectId)">查看</button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <ul class="pagination" ng-hide="hidePagination">
                <li>
                    <a ng-click="changePage(currentPageNum-1)">
                        <span >&laquo;</span>
                    </a>
                </li>
                <li ng-repeat="index in indexList">
                    <a ng-click="changePage(index)" ng-bind="index"></a>
                </li>

                <li>
                    <a ng-click="changePage(currentPageNum+1)">
                        <span >&raquo;</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
