<link rel="stylesheet" type="text/css" href="/public/stylesheet/w_examin.css">
<div class="ExaIndex">
    <h2 class="page-header subhead">设配采购情况统计</h2>
    <div class="col-md-2 col-md-offset-10">
        <div class="dropdown">
            <button class="btn btn-default" data-toggle="dropdown" type="button">
                功能列表 <span class="caret"></span>
            </button>
           <ul class="dropdown-menu">
                <li><a href="#/ExaIndex">首页</a></li>
                <li><a href="#/approvalHistory">历史申报记录</a></li>
                <li class="divider"></li>
                <li><a href="#/approvalClassify1">各单位设备购买统计</a></li>
                <li><a href="#/approvalClassify2">各方式采购统计</a></li>
            </ul>
        </div>
    </div>
    <div class="row center">
        <!--<h3>&#45;&#45;&#45;&#45;按照采购方式统计&#45;&#45;&#45;&#45;</h3>-->
    </div>
    <div class="row" style="margin-top: 10px">
        <form class="form-horizontal">
            <div class="form-group" style="text-align:center;">
                <div class="table-responsive col-md-10 col-md-offset-1">
                    <table class="table table-striped table-hover table-bordered">
                        <tr class="info">
                            <th>序号</th>
                            <th>编号</th>
                            <th>单位名称</th>
                            <th>国产设备（元）</th>
                            <th>进口设备（元）</th>
                            <th>总预算（元）</th>
                            <th>校对</th>
                            <th>公开招标（元）</th>
                            <th>自行采购（元）</th>
                            <th>其他采购（元）</th>
                            <th>>10万元</th>
                            <th>>10%</th>
                            <th>备注</th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>YNU</td>
                            <td>全校</td>
                            <td>54,723,000.00</td>
                            <td>54,223,000.00</td>
                            <td>64,223,000.00</td>
                            <td>正确</td>
                            <td>54,723,000.00</td>
                            <td>54,223,000.00</td>
                            <td>64,223,000.00</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>A1</td>
                            <td>党委办公室</td>
                            <td>123,000.00</td>
                            <td></td>
                            <td>123,000.00</td>
                            <td>正确</td>
                            <td>7,000.00</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>A7a</td>
                            <td>学工部·学生处·武装部</td>
                            <td>54,723,000.00</td>
                            <td></td>
                            <td>64,223,000.00</td>
                            <td>正确</td>
                            <td>54,723,000.00</td>
                            <td>54,223,000.00</td>
                            <td>64,223,000.00</td>
                            <td></td>
                            <td>超限</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>A1</td>
                            <td>党委办公室</td>
                            <td>123,000.00</td>
                            <td></td>
                            <td>123,000.00</td>
                            <td>正确</td>
                            <td>7,000.00</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>YNU</td>
                            <td>全校</td>
                            <td>54,723,000.00</td>
                            <td>54,223,000.00</td>
                            <td>64,223,000.00</td>
                            <td>正确</td>
                            <td>54,723,000.00</td>
                            <td>54,223,000.00</td>
                            <td>64,223,000.00</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>A1</td>
                            <td>党委办公室</td>
                            <td>123,000.00</td>
                            <td></td>
                            <td>123,000.00</td>
                            <td>正确</td>
                            <td>7,000.00</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                          <tr>
                            <td>1</td>
                            <td>A7a</td>
                            <td>学工部·学生处·武装部</td>
                            <td>54,723,000.00</td>
                            <td></td>
                            <td>64,223,000.00</td>
                            <td>正确</td>
                            <td>54,723,000.00</td>
                            <td>54,223,000.00</td>
                            <td>64,223,000.00</td>
                            <td></td>
                            <td>超限</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>YNU</td>
                            <td>全校</td>
                            <td>54,723,000.00</td>
                            <td>54,223,000.00</td>
                            <td>64,223,000.00</td>
                            <td>正确</td>
                            <td>54,723,000.00</td>
                            <td>54,223,000.00</td>
                            <td>64,223,000.00</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
        </form>
    </div>
</div>
