<style>
h5 {
    font-weight: 600;
    font-size:16px;
    line-height:1.2em;
}

small {
    color: #333!important;
    font-size: 100%!important;
}
.ExaDetail td{
    padding-left:10px!important;
    border:1px solid #bbb;
}
</style>
<div class="ExaDetail">
    <h2 class="page-header subhead">采购申请详细信息</h2>
    <div class="form-group">
        <table>
            <tr>
                <td>
                    <h5>项目名称: <small>{{historyItems.projectName}}</small></h5></td>
                <td>
                    <h5>采购类型: <small>{{historyItems.purchaseType}}</small></h5></td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <h5>项目负责人: <small>{{historyItems.leader}}</small></h5></td>
                <td>
                    <h5>电话: <small>{{historyItems.m_tel}}</small></h5></td>
                <td>
                    <h5>固话: <small>{{historyItems.s_tel}}</small></h5></td>
            </tr>
            <tr>
                <td>
                    <h5>项目总预算: <small>{{historyItems.totalMoney}}</small></h5></td>
                <td>
                    <h5>资金来源: <small>{{historyItems.comeFrom}}</small></h5></td>
                <td>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <h5>申报理由: <small>{{historyItems.reason}}</small></h5></td>
            </tr>
        </table>
        <!--    <label class="col-md-2 control-label">项目名称：</label>
        <div class="col-md-6">
            <input type="text" class="form-control" id="username" placeholder="云南大学软件学院设备采购" readonly>
        </div>
        <label class="col-md-2 control-label">采购类型：</label>
        <div class="col-md-2">
            <input type="text" class="form-control" id="username" placeholder="进口" readonly>
        </div>
    </div>
    <div>
        <label class="col-md-2 control-label">项目负责人：</label>
        <div class="col-md-2">
            <input type="text" class="form-control" id="username" placeholder="sr" readonly>
        </div>
        <label class="col-md-1 control-label">电话：</label>
        <div class="col-md-3">
            <input type="text" class="form-control" id="username" placeholder="13117311831" readonly>
        </div>
        <label class="col-md-1 control-label">固话：</label>
        <div class="col-md-3">
            <input type="text" class="form-control" id="username" placeholder="4283368" readonly>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">预算总额（万元）：</label>
        <div class="col-md-3">
            <input type="text" class="form-control" id="username" placeholder="33" readonly>
        </div>
        <label class="col-md-2 control-label">资金来源：</label>
        <div class="col-md-3">
            <input type="text" class="form-control" id="username" placeholder="第三方" readonly>
        </div>
    </div> -->
        <!--  <div class="form-group">
        <label for="" class="col-md-2 control-label">购置理由：</label>
        <div class="col-md-8">
            <textarea name="" id="" rows="5" class="form-control" placeholder="软件学院急需一批设备以培养高新技术人才" readonly></textarea>
        </div>
    </div> -->
        <div class="form-group" style="TEXT-ALIGN: center;">
            <h3 class="subhead2" style="margin-left:38% ">采购项目清单</h3>
            <div class="table-responsive col-md-10 col-md-offset-1">
                <table class="table table-striped table-hover table-bordered">
                    <tr class="info">
                        <td class="td">序号</td>
                        <td class="td">类型</td>
                        <td class="td">通用名称</td>
                        <td class="td">数量</td>
                        <td class="td">计量单位</td>
                        <td class="td">预算单价（元）</td>
                        <td class="td">合计金额（元）</td>
                        <td class="td">交货地点</td>
                    </tr>
                        <tr ng-repeat="history in historyItems">
                            <td>{{$index+1}}</td>
                            <td>{{history.table.type}}</td>
                            <td>{{history.table.name}}</td>
                            <td>{{history.table.count}}</td>
                            <td>{{history.table.unit}}</td>
                            <td>{{history.table.budget}}</td>
                            <td>{{history.table.totalMoney_real}}</td>
                            <td>{{history.table.address}}</td>
                            <td align="center" valign="">
                                <button class="btn btn-info " type="button" onclick="javascript:window.location.href='#/projectVerify'">查看</button>
                            </td>
                        </tr>
                </table>
            </div>
        </div>
<!--         <div class="form-group">
            <div class="col-md-8 col-md-offset-4">
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">6</a></li>
                    <li><a href="#">7</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div> -->
        <form class="form-horizontal">
            <div class="form-group">
                <label for="" class="col-md-2 control-label">初审意见：</label>
                <div class="col-md-8">
                    <textarea name="" id="" rows="5" class="form-control" ng-model="suggestion" placeholder="无论批准还是驳回，申请方均将收到您的意见。"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2 col-md-offset-4">
                    <button class="btn btn-md btn-success" ng-click="approve()" type="button">批准</button>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-danger btn-md" ng-click="refuse()" type="button">驳回</button>
                </div>
            </div>
        </form>
    </div>
