<link rel="stylesheet" type="text/css" href="/public/stylesheet/w_examin.css">
<div class="ExaIndex">
    <h2 class="page-header subhead">申报记录表</h2>
    <div class="form-group">
        <div class="col-md-2 col-md-offset-10">
            <div class="dropdown">
                <button class="btn btn-default" data-toggle="dropdown" type="button">
                    功能列表 <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#/ExaIndex">首页</a></li>
                    <li><a href="#/approvalHistory">历史申报记录</a></li>
                    <li class="divider"></li>
                    <li><a href="#/approvalClassify1">各单位设备购买统计</a></li>
                    <li><a href="#/approvalClassify2">各方式采购统计</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row center">
        <div class="search">
            <form class="form-inline" ng-submit="searchUser()">
                <div class="form-group">
                    <label for="exampleInputName2">项目编号</label>
                    <input type="text" class="form-control" name="name" ng-model="projectId" id="exampleInputName2" placeholder="">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail2">采购类型</label>
                    <select name="status" id="" class="form-control" ng-model="purchaseType">
                        <option value="0">不限</option>
                        <option value="1">C-工程</option>
                        <option value="2">S-服务</option>
                        <!-- <option value="1">待立项</option> -->
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail2">当前状态</label>
                    <select name="status" id="" class="form-control" ng-model="proType">
                        <option value="0">不限</option>
                        <option value="1">待初审</option>
                        <option value="2">待立项</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-success" ng-click="query()">查询</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="form-group" style="text-align:center;">
            <div class="table-responsive col-md-10 col-md-offset-1">
                <table class="table table-striped table-hover table-bordered">
                    <tr class="info">
                        <td align="center" valign="">序号</td>
                        <td align="center" valign="">项目编号</td>
                        <td align="center" valign="">项目名称</td>
                        <td align="center" valign="">采购类型</td>
                        <td align="center" valign="">总计金额（万元）</td>
                        <td align="center" valign="">上次提交日期</td>
                        <td align="center" valign="">当前状态</td>
                        <td align="center" valign="">查看详细信息</td>
                    </tr>
                    <tr ng-repeat="history in historyItems">
                        <td>{{$index+1}}</td>
                        <td>{{history.projectId}}</td>
                        <td>{{history.projectName}}</td>
                        <td>{{history.purchaseType}}</td>
                        <td>{{history.totalMoney}}</td>
                        <td>{{history.time}}</td>
                        <td>{{history.proType}}</td>
                        <td align="center" valign="">
                            <button class="btn btn-info " type="button" ng-click="view(history.projectId)">查看</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-8 col-md-offset-4">
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">6</a></li>
                    <li><a href="#">7</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
