<div class="navbar navbar-fixed-top"  id="GoMainPage">
	<div class="header1">
			<div id="showDate" ></div>
	</div>
	<div class="header2">
		<div class="container">
			<div class="row">
				<div class="col-md-4" style="margin-top: 10px;"><img src="./public/images/DBW_LOGO.png" alt=""></div>
				<div class="" style="margin-top: 40px;">
					<h1 class="head">采购申报平台</h1></div>
			</div>
		</div>
	</div>



	<script>

			$("#GoMainPage").click(function(){
				alert('asdf');
			});

	</script>
</div>

