<div class="negotiationList">
    <h2 class="page-header subhead">合同列表</h2>
    <form class="form-horizontal">
        <div class="col-md-2 col-md-offset-10">
            <div class="dropdown">
                <button class="btn btn-default" data-toggle="dropdown" type="button">
                    功能列表 <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#/operatorIndex">采购实施计划</a></li>
                    <li><a href="#/operatorHistory">采购计划历史记录</a></li>
                    <li class="divider"></li>
                    <li><a href="#/negotiationList">合同记录列表</a></li>
                </ul>
            </div>
        </div>
    </form>

    <div class="form-group" style="TEXT-ALIGN: center;margin-top: 10px">
        <!--<h3 class="subhead2" >历史采购计划清单</h3>-->
        <div class="table-responsive col-md-10 col-md-offset-1" style="margin-top: 10px">
            <table class="table table-striped table-hover table-bordered">
                <tr class="info">
                    <td class="ntd">序号</td>
                    <td class="ntd">合同计划编号</td>
                    <td class="ntd">总计金额（元）</td>
                    <td class="ntd">生成日期</td>
                    <td class="ntd">当前状态</td>
                    <td class="ntd">填写合同信息</td>
                    <td class="ntd">填写审批时间（注：合同信息填写前，禁用）</td>
                </tr>
                <tr>
                    <td class="ntd">1</td>
                    <td class="ntd">ht20160119-01</td>
                    <td class="ntd">342,343</td>
                    <td class="ntd">2016-1-10</td>
                    <td class="ntd">未填写合同信息</td>
                    <td class="ntd">
                        <button class="btn btn-info " type="button" onclick="javascript:window.location.href='#/negRusult'">填写</button>
                    </td>
                    <td class="ntd">
                    <button class="btn btn-danger " type="button" onclick="javascript:window.location.href='#/negotiationCheck'">审批</button>
                    </td>
                </tr>
                <tr>
                    <td class="ntd">2</td>
                    <td class="ntd">ht20160119-01</td>
                    <td class="ntd">342,343</td>
                    <td class="ntd">2016-1-10</td>
                    <td class="ntd">未审核</td>
                    <td class="ntd">
                        <button class="btn btn-info " type="button" onclick="javascript:window.location.href='#/negRusult'">填写</button>
                    </td>
                    <td class="ntd">
                    <button class="btn btn-danger " type="button" onclick="javascript:window.location.href='#/negotiationCheck'">审批</button>
                    </td>
                </tr>
                <tr>
                    <td class="ntd">3</td>
                    <td class="ntd">ht20160119-01</td>
                    <td class="ntd">342,343</td>
                    <td class="ntd">2016-1-10</td>
                    <td class="ntd">未填写合同信息</td>
                    <td class="ntd">
                        <button class="btn btn-info " type="button" onclick="javascript:window.location.href='#/negRusult'">填写</button>
                    </td>
                    <td class="ntd">
                    <button class="btn btn-danger " type="button" onclick="javascript:window.location.href='#/negotiationCheck'">审批</button>
                    </td>
                </tr>
                <tr>
                    <td class="ntd">4</td>
                    <td class="ntd">ht20160119-01</td>
                    <td class="ntd">342,343</td>
                    <td class="ntd">2016-1-10</td>
                    <td class="ntd">未填写合同信息</td>
                    <td class="ntd">
                        <button class="btn btn-info " type="button" onclick="javascript:window.location.href='#/negRusult'">填写</button>
                    </td>
                    <td class="ntd">
                    <button class="btn btn-danger " type="button" onclick="javascript:window.location.href='#/negotiationCheck'">审批</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-8 col-md-offset-4">
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">6</a></li>
                <li><a href="#">7</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

