<div class="operatorHistoryDetail">
    <h2 class="page-header subhead">采购实施计划</h2>
    <!-- 此表单中的设备状态为：已加入采购计划 -->
    <form class="form-horizontal">
        <div class="col-md-2 col-md-offset-10">
            <div class="dropdown">
                <button class="btn btn-default" data-toggle="dropdown" type="button">
                    功能列表 <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#/operatorIndex">采购实施计划</a></li>
                    <li><a href="#/operatorHistory">采购计划历史记录</a></li>
                    <li class="divider"></li>
                    <li><a href="#/">谈判记录列表</a></li>
                    <li><a href="#/negRusult">谈判记录结果</a></li>
                </ul>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 col-md-offset-1 control-label">采购计划编号：cg20160212-01</label>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">批复组织形式：</label>
            <div class="col-md-2">
                <input type="text" class="form-control" id="username" placeholder="">
            </div>
            <label class="col-md-3 control-label">批复采购方式：</label>
            <div class="col-md-2">
                <input type="text" class="form-control" id="username" placeholder="">
            </div>
        </div>
        <div class="form-group" style="text-align: center;">
            <h3 class="subhead2" style="margin-left:38% ">采购计划历史明细</h3>
            <div class="table-responsive col-md-10 col-md-offset-1">
                <table class="table table-striped table-hover table-bordered" style="">
                    <tr class="info">
                        <td class="ntd">序号</td>
                        <td class="ntd">标段代码</td>
                        <td class="ntd">采购品目</td>
                        <td class="ntd">产品（项目）名称</td>
                        <td class="ntd">是否进口</td>
                        <td class="ntd">数量</td>
                        <td class="ntd">计量单位</td>
                        <td class="ntd">预算单价（元）</td>
                        <td class="ntd">金额（元）</td>
                        <td class="ntd">交货地点（备注）</td>
                    </tr>
                    <tr>
                        <td class="ntd">1</td>
                        <td class="ntd">JH2016HS0517UE01</td>
                        <td class="ntd">IBM服务器</td>
                        <td class="ntd">云南大学软件学院设备采购</td>
                        <td class="ntd">是</td>
                        <td class="ntd">10</td>
                        <td class="ntd">台</td>
                        <td class="ntd">300，000</td>
                        <td class="ntd">3，000，000</td>
                        <td class="ntd">云南大学</td>
                    </tr>
                    <tr>
                        <td class="ntd">2</td>
                        <td class="ntd">JH2016HS0517UE01</td>
                        <td class="ntd">IBM服务器</td>
                        <td class="ntd">云南大学软件学院设备采购</td>
                        <td class="ntd">是</td>
                        <td class="ntd">10</td>
                        <td class="ntd">台</td>
                        <td class="ntd">300，000</td>
                        <td class="ntd">3，000，000</td>
                        <td class="ntd">云南大学</td>
                    </tr>
                    <tr>
                        <td class="ntd">3</td>
                        <td class="ntd">JH2016HS0517UE01</td>
                        <td class="ntd">IBM服务器</td>
                        <td class="ntd">云南大学软件学院设备采购</td>
                        <td class="ntd">是</td>
                        <td class="ntd">10</td>
                        <td class="ntd">台</td>
                        <td class="ntd">300，000</td>
                        <td class="ntd">300，0000</td>
                        <td class="ntd">云南大学</td>
                    </tr>
                    <tr>
                        <td class="ntd">4</td>
                        <td class="ntd">JH2016HS0517UE01</td>
                        <td class="ntd">IBM服务器</td>
                        <td class="ntd">云南大学软件学院设备采购</td>
                        <td class="ntd">是</td>
                        <td class="ntd">10</td>
                        <td class="ntd">台</td>
                        <td class="ntd">300，000</td>
                        <td class="ntd">300，0000</td>
                        <td class="ntd">云南大学</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 col-md-offset-8 control-label">总金额为：111,345</label>
        </div>
        <div class="form-group">
            <div class="col-md-2 col-md-offset-2">
                <button class="btn btn-info btn-lg" type="button">打印采购计划</button>
            </div>
            <div class="col-md-2">
                <button class="btn btn-info btn-lg" type="button">保存新增数据</button>
            </div>
        </div>
    </form>
</div>
