<div class="operatorIndex">
    <h2 class="page-header subhead">采购实施计划</h2>
    <!-- 此表单中的设备状态为：未加入采购计划 -->
    <form class="form-horizontal">
        <div class="col-md-2 col-md-offset-10">
            <div class="dropdown">
                <button class="btn btn-default" data-toggle="dropdown" type="button">
                    功能列表 <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#/operatorIndex">采购实施计划</a></li>
                    <li><a href="#/operatorHistory">采购计划历史记录</a></li>
                    <li class="divider"></li>
                    <li><a href="#/negotiationList">合同记录列表</a></li>
                </ul>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">采购计划编号：</label>
            <div class="col-md-2">
                <input type="text" class="form-control" id="username" placeholder="">
            </div>
            <label class="col-md-2 control-label">采购项目编号：</label>
            <div class="col-md-2">
                <input type="text" class="form-control" id="username" placeholder="">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">拟批复组织形式：</label>
            <div class="col-md-2">
                <input type="text" class="form-control" id="username" placeholder="">
            </div>
            <label class="col-md-2 control-label">拟批复采购方式：</label>
            <div class="col-md-2">
                <input type="text" class="form-control" id="username" placeholder="">
            </div>
        </div>
        
        <div class="form-group" style="text-align: center;">
            <h3 class="subhead2" style="margin-left:38% ">采购实施计划审批结果</h3>
            <div class="table-responsive col-md-10 col-md-offset-1">
                <table class="table table-striped table-hover table-bordered" style="">
                    <tr class="info">
                        <td class="ntd">选择</td>
                        <td class="ntd">序号</td>
                        <td class="ntd">项目编号</td>
                        <td class="ntd">项目名称</td>
                        <td class="ntd">申请人</td>
                        <td class="ntd">采购类型</td>
                        <td class="ntd">预算总价（元）</td>
                    </tr>
                    <tr>
                        <td class="ntd"><label class="checkbox checkbox-inline"><input type="checkbox"></label></td>
                        <td class="ntd">1</td>
                        <td class="ntd">20160107-01</td>
                        <td class="ntd">云南大学软件学院设备采购</td>
                        <td class="ntd">sr</td>
                        <td class="ntd">c-工程</td>
                        <td class="ntd">300，000</td>
                    </tr>
                    <tr>
                        <td class="ntd"><label class="checkbox checkbox-inline"><input type="checkbox"></label></td>
                        <td class="ntd">2</td>
                        <td class="ntd">20160107-01</td>
                        <td class="ntd">云南大学软件学院设备采购</td>
                        <td class="ntd">sr</td>
                        <td class="ntd">c-工程</td>
                        <td class="ntd">300，000</td>
                    </tr>
                    <tr>
                        <td class="ntd"><label class="checkbox checkbox-inline"><input type="checkbox"></label></td>
                        <td class="ntd">3</td>
                        <td class="ntd">20160107-01</td>
                        <td class="ntd">云南大学软件学院设备采购</td>
                        <td class="ntd">sr</td>
                        <td class="ntd">c-工程</td>
                        <td class="ntd">300，000</td>
                    </tr>
                    <tr>
                        <td class="ntd"><label class="checkbox checkbox-inline"><input type="checkbox"></label></td>
                        <td class="ntd">4</td>
                        <td class="ntd">20160107-01</td>
                        <td class="ntd">云南大学软件学院设备采购</td>
                        <td class="ntd">sr</td>
                        <td class="ntd">c-工程</td>
                        <td class="ntd">300，000</td>
                    </tr>
                    <tr>
                        <td class="ntd"><label class="checkbox checkbox-inline"><input type="checkbox"></label></td>
                        <td class="ntd">5</td>
                        <td class="ntd">20160107-01</td>
                        <td class="ntd">云南大学软件学院设备采购</td>
                        <td class="ntd">sr</td>
                        <td class="ntd">c-工程</td>
                        <td class="ntd">300，000</td>
                    </tr>
                </table>
            </div>
            <div class="form-group">
                <label class="col-md-4 col-md-offset-6 control-label">勾选的总金额为：111,345</label>
            </div>    
            <div class="form-group">
                <div class="col-md-2 col-md-offset-3">
                    <button class="btn btn-info btn-lg" type="button">打印采购计划</button>
                </div>
                <div class="col-md-2 col-md-offset-2">
                    <button class="btn btn-info btn-lg" type="button">保存采购计划</button>
                </div>
            </div>
    </form>
    </div>
