<div class="teaIndex">
    <form class="form-horizontal">
        <div class="row">
            <div class="col-md-6 col-md-offset-1"style="margin-left:10%">
                <div class="btn-group" style="margin-top:3%;margin-bottom: 3%;margin-left: -14px;">
                    <label class="btn btn-primary ">
                        <a href="#/recorderIndex"class="LittleNav">查看待处理</a>
                    </label>
                    <label class="btn btn-primary ">
                        <a href="#/recorderCreatePlan" class="LittleNav">创建采购批次</a>
                    </label>
                    <label class="btn btn-primary active  ">
                        <a href="#/recorderHistory" class="LittleNav">查看历史批次</a>
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group" style="TEXT-ALIGN: center;">
            <div class="table-responsive col-md-10 col-md-offset-1">
                <table class="table table-striped table-hover ">
                    <tr class="">
                        <td>序号</td>
                        <td>采购计划编号</td>
                        <td>批复组织形式</td>
                        <td>批复采购方式</td>
                        <td>审核时间</td>
                        <td>状态</td>
                        <td>查看详情</td>
                        <td>下载</td>
                    </tr>
                    <tr ng-repeat="history in historyItems">
                        <td>{{$index+1}}</td>
                        <td>{{history.planId}}</td>
                        <td>{{history.preOrgType}}</td>
                        <td>{{history.prePurchaseType}}</td>
                        <td>{{history.time | limitTo:10}}</td>
                        <td>{{history.status}}</td>
                        <td>
                            <a class="btn btn-primary " type="button" href="/index_record.html#/recorderViewDetail?planId={{history.planId}}">查看
                            </a>
                        </td>
                        <td>
                            <a class="btn btn-info " type="button" href="{{history.fileUr}}" download>下载<a>
                        </td>
                    </tr>





                </table>
                <!-- <div class="bg-warning" ng-hide="myboolean">
                     <h4>{{data}}</h4>
                 </div>-->
                <div class="col-md-8 col-md-offset-2">
                    <ul class="pagination" ng-hide="hidePagination">
                        <li>
                            <a ng-click="changePage(currentPageNum-1)">
                                <span >&laquo;</span>
                            </a>
                        </li>
                        <li ng-repeat="index in indexList">
                            <a ng-click="changePage(index)" ng-bind="index"></a>
                        </li>

                        <li>
                            <a ng-click="changePage(currentPageNum+1)">
                                <span >&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </form>
</div>