<div class="teaIndex">
    <form class="form-horizontal">
        <div class="row">
            <div class="col-md-6"style="margin-left:9%">
                <div class="btn-group" style="margin-top:3%;margin-bottom: 3%;">
                    <label class="btn btn-primary ">
                        <a href="#/recorderIndex"class="LittleNav">查看待处理</a>
                    </label>
                    <label class="btn btn-primary active ">
                        <a href="#/recorderCreatePlan" class="LittleNav">创建采购批次</a>
                    </label>
                    <label class="btn btn-primary ">
                        <a href="#/recorderHistory" class="LittleNav">查看历史批次</a>
                    </label>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 20px">
            <div class="col-md-3 " style="margin-left: 9%;">
                <div class="input-group ">
                    <span class="input-group-addon biaodan" id="basic-addon2" >采购计划编号</span>
                    <input type="text" class="form-control"aria-describedby="basic-addon2"  ng-model="plan.planId">
                </div>
            </div>

            <div class="col-md-3" style="margin-left: 3%">
                <div class="input-group ">
                    <span class="input-group-addon biaodan" id="basic-addon3" >拟批复组织形式</span>
                    <input type="text" class="form-control"aria-describedby="basic-addon3"  ng-model="plan.preOrgType">
                </div>
            </div>

            <div class="col-md-3" style="margin-left: 3%">
                <div class="input-group ">
                    <span class="input-group-addon biaodan" id="basic-addon9" >拟批复采购方式</span>
                    <input type="text" class="form-control"aria-describedby="basic-addon9" ng-model="plan.prePurchaseType">
                </div>
            </div>

        </div>
    </form>
    <strong class="col-lg-2 col-lg-offset-1" style="margin-top: 30px;margin-bottom: 10px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;计划列表</strong>
    <div class="form-group" style="text-align: center;">
        <div class="table-responsive col-md-10 col-md-offset-1">
            <table class="table table-striped table-hover teacherTable ">
                <tr class="" style="text-align: center;vertical-align: middle;">
                    <td>序号</td>
                    <td>项目编号</td>
                    <td>项目名称</td>
                    <td>采购类型</td>
                    <td>总计金额（万元）</td>
                    <td>上次提交日期</td>
                    <td>操作</td>
                    <td>去除</td>
                </tr>
                <tr ng-repeat="project in planProjectList">
                    <td>
                        <p>{{$index+1}}</p>
                    </td>
                    <td>
                        <p>{{project.projectId}}</p>
                    </td>
                    <td>
                        <p>{{project.projectName}}</p>
                    </td>
                    <td>
                        <p>{{project.purchaseType}}</p>
                    </td>
                    <td>
                        <p>{{project.totalMoney_pre}}</p>
                    </td>
                    <td>
                        <p>{{project.updateTime | limitTo:10}}</p>
                    </td>
                    <td>
                        <button class="btn btn-primary" type="button">查看</button>
                    </td>
                    <td class="td" style="height: 34px;vertical-align: middle">
                        <div class="btn btn-primary">
                            <i class="glyphicon glyphicon-minus"ng-click="removeFormPlan($index)"  style="cursor: pointer;"></i>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <strong class="col-lg-2 col-lg-offset-1" style="margin-top: 20px;margin-bottom: 10px">可加入的项目列表</strong>
        <div class="table-responsive col-md-10 col-md-offset-1">
            <table class="table table-striped table-hover teacherTable ">
                <tr class="" style="text-align: center;vertical-align: middle;">
                    <td>序号</td>
                    <td>项目编号</td>
                    <td>项目名称</td>
                    <td>采购类型</td>
                    <td>总计金额（万元）</td>
                    <td>上次提交日期</td>
                    <td>操作</td>
                    <td>添加</td>
                </tr>
                <tr ng-repeat="project in readyProjectList">
                    <td>
                        <p>{{$index+1}}</p>
                    </td>
                    <td>
                        <p>{{project.projectId}}</p>
                    </td>
                    <td>
                        <p>{{project.projectName}}</p>
                    </td>
                    <td>
                        <p>{{project.purchaseType}}</p>
                    </td>
                    <td>
                        <p>{{project.totalMoney_pre}}</p>
                    </td>
                    <td>
                        <p>{{project.updateTime | limitTo:10}}</p>
                    </td>
                    <td>
                        <button class="btn btn-success" type="button">查看</button>
                    </td>
                    <td class="td" style="height: 34px;vertical-align: middle">
                        <div class="btn btn-success">
                            <i class="glyphicon glyphicon-plus" ng-click="addToPlan($index)" style="cursor: pointer;"></i>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="form-group" style="margin-top: 50px">
            <div class="col-md-2 col-md-offset-4">
                <button class="btn btn-success " type="button" style="width: 70%;margin-bottom: 20px" ng-click="submit()">创建采购批次</button>
            </div>
            <div class="col-md-2">
                <button class="btn btn-danger " type="button" style="width: 70%;" ng-click="clear()">清空</button>
            </div>
        </div>
</div>
</div>