<div class="teaIndex">
    <form class="form-horizontal">
        <div class="row">
            <div class="col-md-6"style="margin-left:10px">
                <div class="btn-group" style="margin-top:3%;margin-bottom: 3%;margin-left: -14px;">
                    <label class="btn btn-primary ">
                        <a href="#/recorderIndex"class="LittleNav">查看待处理</a>
                    </label>
                    <label class="btn btn-primary ">
                        <a href="#/recorderCreatePlan" class="LittleNav">创建采购批次</a>
                    </label>
                    <label class="btn btn-primary active  ">
                        <a href="#/recorderHistory" class="LittleNav">查看历史批次</a>
                    </label>
                </div>
            </div>
        </div>
        <table st-table="displayedCollection" st-safe-src="historyItems" class="table table-striped">
            <thead>
            <tr>
                <th colspan="3">
                    <input st-search placeholder="全局搜索" class="input-sm form-control" type="search"/>
                </th>
            </tr>
            <tr>
                <th>序号</th>
                <th st-sort="planId">采购计划编号</th>
                <th st-sort="preOrgType">批复组织形式</th>
                <th st-sort="prePurchaseType">批复采购方式</th>
                <th st-sort="time">审核时间</th>
                <th st-sort="status">状态</th>
                <th>查看详情</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="plan in displayedCollection">
                <td>{{$index+1}}</td>
                <td>{{plan.planId}}</td>
                <td>{{plan.preOrgType}}</td>
                <td>{{plan.prePurchaseType}}</td>
                <td>{{plan.time | limitTo:10}}</td>
                <td>{{plan.status}}</td>
                <td>
                    <a class="btn btn-primary " type="button" href="/index_record.html#/recorderViewDetail?planId={{plan.planId}}">查看
                    </a>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="9" class="text-center">
                    <div st-pagination="" st-items-by-page="8" st-displayed-pages="5"></div>
                </td>
            </tr>
            </tfoot>
        </table>
    </form>
</div>