<div class="">
    <form class="form-horizontal">
        <div class="form-group">
            <div class="col-md-8">
                <div class="btn-group" style="margin-top:3%;margin-bottom: 3%;">
                    <label class="btn btn-primary ">
                       <a href="#/teaViewHanding" class="LittleNav">查看待处理</a>
                    </label>
                    <label class="btn btn-primary ">
                        <a href="#/teacherIndex" class="LittleNav">申请信息填写</a>
                    </label>
                    <label class="btn btn-primary active">
                        <a href="#/TeaHistory" class="LittleNav">查看历史申请</a>
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
                <table st-table="displayedCollection" st-safe-src="historyItems" class="table table-striped">
                    <thead>
                    <tr>
                        <th colspan="3">
                            <input st-search placeholder="全局搜索" class="input-sm form-control" type="search"/>
                        </th>
                        <th colspan="2">
                            根据状态搜索：
                            <select st-search="status">
                                <option value="">不限</option>
                                <option value="已立项">已立项</option>
                                <option value="待采购">待采购</option>
                                <option value="采购完成">采购完成</option>
                            </select>
                        </th>
                    </tr>
                    <tr>
                        <th>序号</th>
                        <th st-sort="projectId">项目编号</th>
                        <th st-sort="projectName">项目名称</th>
                        <th st-sort="purchaseType">采购类型</th>
                        <th st-sort="totalMoney_pre">总计金额</th>
                        <th st-sort="updateTime">上次提交日期</th>
                        <th st-sort="status">当前状态</th>
                        <th>操作</th>
                        <th>下载申请表</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="row in displayedCollection">
                        <td>{{$index+1}}</td>
                        <td>{{row.projectId}}</td>
                        <td>{{row.projectName}}</td>
                        <td>{{row.purchaseType}}</td>
                        <td>{{row.totalMoney_pre}}</td>
                        <td>{{row.updateTime|limitTo:10}}</td>
                        <td>{{row.status}}</td>
                        <td>
                            <a class="btn btn-info " type="button" href="/index_teacher.html#/teaViewDetail?projectId={{history.projectId}}">查看
                            </a>
                        </td>
                        <td>
                            <a class="btn btn-info " type="button" href="{{history.fileUrl}}" download>下载</a>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="9" class="text-center">
                            <div st-pagination="" st-items-by-page="8" st-displayed-pages="5"></div>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
    </form>
</div>
