<div class="">
    <form class="form-horizontal">
        <div class="form-group">
            <div class="col-md-8 col-md-offset-1">
                <div class="btn-group" style="margin-top:3%;margin-bottom: 3%;">
                    <label class="btn btn-primary ">
                       <a href="#/teaViewHanding" class="LittleNav">查看待处理</a>
                    </label>
                    <label class="btn btn-primary ">
                        <a href="#/teacherIndex" class="LittleNav">申请信息填写</a>
                    </label>
                    <label class="btn btn-primary active">
                        <a href="#/TeaHistory" class="LittleNav">查看历史申请</a>
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group" style="TEXT-ALIGN: center;">
            <div class="table-responsive col-md-10 col-md-offset-1">
                <table class="table table-striped table-hover ">
                    <tr class="">
                        <td>序号</td>
                        <td>项目编号</td>
                        <td>项目名称</td>
                        <td>采购类型</td>
                        <td>总计金额（万元）</td>
                        <td>上次提交日期</td>
                        <td>当前状态</td>
                        <td>查看</td>
                        <td>下载申请表</td>
                    </tr>
                    <tr ng-repeat="history in historyItems">
                        <td>{{$index+1}}</td>
                        <td>{{history.projectId}}</td>
                        <td>{{history.projectName}}</td>
                        <td>{{history.purchaseType}}</td>
                        <td>{{history.totalMoney_pre}}</td>
                        <td>{{history.updateTime | limitTo:10}}</td>
                        <td>{{history.status}}</td>
                        <td>
                            <a class="btn btn-info " type="button" href="/index_teacher.html#/teaViewDetail?projectId={{history.projectId}}">查看
                            </a>
                        </td>
                        <td>
                            <a class="btn btn-info " type="button" href="{{history.fileUr}}" download>下载<a>
                        </td>
                    </tr>
              
           
          


                </table>
                <!-- <div class="bg-warning" ng-hide="myboolean">
                     <h4>{{data}}</h4>
                 </div>-->
                <div class="col-md-8 col-md-offset-2">
                    <ul class="pagination" ng-hide="hidePagination">
                        <li>
                            <a ng-click="changePage(currentPageNum-1)">
                                <span >&laquo;</span>
                            </a>
                        </li>
                        <li ng-repeat="index in indexList">
                            <a ng-click="changePage(index)" ng-bind="index"></a>
                        </li>

                        <li>
                            <a ng-click="changePage(currentPageNum+1)">
                                <span >&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </form>
</div>
