<div class="">
    <!--<h2 class="page-header subhead">查看待处理</h2>-->
    <div class="col-md-7">
        <div class="btn-group" style="margin-top:3%;margin-bottom: 3%;margin-left: -14px;">
            <label class="btn btn-primary active">
                <a href="#/teaViewHanding" class="LittleNav">查看待处理</a>
            </label>
            <label class="btn btn-primary ">
                <a href="#/teacherIndex" class="LittleNav">申请信息填写</a>
            </label>
            <label class="btn btn-primary ">
                <a href="#/TeaHistory" class="LittleNav">查看历史申请</a>
            </label>
        </div>
    </div>
    <style>
        table tr td p{
            margin-top:7px;
        }
        .fontBlue{
            color:blue;
        }
        .fontRed{
            color:red;
        }
        .fontGreen{
            color:limegreen;
        }
        .st-sort-ascent:before{
            content: '\25B2';
        }

        .st-sort-descent:before{
            content: '\25BC';
        }
    </style>
    <table st-table="displayedCollection" st-safe-src="handle" class="table table-striped">
        <thead>
        <tr>
            <th colspan="4">
                <input st-search placeholder="全局搜索" class="input-sm form-control" type="search"/>
            </th>
            <th colspan="2">
                根据状态搜索：
                <select st-search="status">
                    <option value="">不限</option>
                    <option value="待审核">待审核</option>
                    <option value="待立项">待立项</option>
                    <option value="初审被驳">初审被驳</option>
                </select>
            </th>
        </tr>
        <tr>
            <th>序号</th>
            <th st-sort="projectId">项目编号</th>
            <th st-sort="projectName">项目名称</th>
            <th st-sort="purchaseType">采购类型</th>
            <th st-sort="totalMoney_pre">总计金额</th>
            <th st-sort="updateTime">上次提交日期</th>
            <th st-sort="status">当前状态</th>
            <th>操作</th>
            <th>下载申请表</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in displayedCollection">
            <td>{{$index+1}}</td>
            <td>{{row.projectId}}</td>
            <td>{{row.projectName}}</td>
            <td>{{row.purchaseType}}</td>
            <td>{{row.totalMoney_pre}}</td>
            <td>{{row.updateTime|limitTo:10}}</td>
            <td ng-switch="row.status">
                <p ng-switch-when="待审核" class="fontBlue">{{row.status}}</p>
                <p ng-switch-when="初审被驳" class="fontRed">{{row.status}}</p>
                <p ng-switch-when="待立项" class="fontGreen">{{row.status}}</p>
            </td>
            <td ng-switch="row.status">
                <button ng-switch-when="待立项" class="btn btn-info " type="button" data-toggle="modal" data-target="#Modal1" ng-click="methods.showDetail(row.suggestion,row.projectId,'查看详情')">查看</button>
                <button ng-switch-when="初审被驳" class="btn btn-info " type="button" data-toggle="modal" data-target="#Modal1" ng-click="methods.showDetail(row.suggestion,row.projectId,'重新提交')">查看</button>
                <button ng-switch-when="待审核" class="btn btn-info " type="button" ng-click="showProject(row.projectId)">查看</button>
            </td>
            <td ng-if="row.status == '待立项'">
                <a class="btn btn-info " type="button" href="{{row.fileUrl}}" download>下载</a>
            </td>
            <td ng-if="row.status != '待立项'">
                <button class="btn btn-info " type="button" disabled="disabled" >下载</button>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="9" class="text-center">
                <div st-pagination="" st-items-by-page="8" st-displayed-pages="5"></div>
            </td>
        </tr>
        </tfoot>
    </table>
    <!-- </form> -->
    <div class="modal fade" id="Modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">初审意见</h4>
                </div>
                <div class="modal-body">
                    {{message}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">确定</button>
                    <span ng-switch="action">
                        <button ng-switch-when="查看详情" class="btn btn-primary" data-dismiss="modal"  type="button" ng-click="showCurrentProject(currentProjectId)">查看详情</button>
                        <button ng-switch-when="重新提交" class="btn btn-primary" data-dismiss="modal"  type="button" ng-click="reSubmit(currentProjectId)">重新提交</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
